* {
    box-sizing: border-box;
  }
  
.html {
      height: 100%;
  
}
  
.body {
    font-family: 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, Helvetica,
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
      height: 100%;
      margin: 0;
}
  
.container {
    display: grid;
    margin: 0 auto;
    align-items: center;
    width: 1000px;
    max-width: calc(100% - 60px);
    height: 100%;
}
 
    @media (max-width: 767px) {
        .container {
            max-width: calc(100% - 30px);
        }
    }

.image {
    grid-area: image;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

    @media (max-width: 767px) {
        .image {
            grid-column-start: 1;
            grid-row-start: 1;
            grid-row-end: 1;
        }
    }

.chat {
    grid-area: chat;
    grid-column-start: 2;
    grid-row-start: 1;
    height: 200px;
}
  
    @media (max-width: 767px) {
        .chat {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 2;
            grid-row-end: 2;
            margin: 40px;
        }
    }

  ::-webkit-input-placeholder { 
      color: .711 
  }
   
  input { 
      border: 0; 
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      width: 100%;
      background: rgb(253, 204, 159);
  }
  
  .messages {
      display: flex;
      flex-direction: column;
      overflow: scroll;
      height: 90%;
      width: 100%;
      background-color: rgb(199, 198, 198);
      padding: 10px;
      border-radius: 10px;
      margin: 10px;
  }
  
  #bot {
      margin-right: auto;
  }
  
  #user {
      margin-left: auto;
  }
  
  
  .bot {
      font-family: Consolas, 'Courier New', Menlo, source-code-pro, Monaco,  
      monospace;
  }
  
  .avatar {
      height: 25px;
  }
  
  .response {
      display: flex;
      align-items: center;
      margin: 1%;
  }
  
.footer {
    grid-area: footer;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 3;
    grid-row-end: 3;
    display: flex;
    background: rgb(119, 119, 119);
    color: #eee;
    border-radius: 10px;
    justify-content: center;
}

  @media (max-width: 767px) {
    .footer {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
        margin-top: 40px
    }
}
  
.footer__container {
    padding: 20px;
}

.footer__link {
    text-decoration: none;
    color: rgb(253, 138, 32);
}

.footer__link:hover {
    color: #73cee2;
}

.footer__link:active {
    color: #3a64fb;
}